* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  min-height: 100%;
  background: linear-gradient(-180deg, #003347 0%, #00131B 100%); }

body {
  font-family: "futura-pt";
  height: 100vh;
  overflow: hidden; }

.primary {
  text-align: center;
  font-size: 40px;
  color: white;
  font-weight: 500;
  padding-top: 90px; }

.hint {
  font-weight: 400;
  font-size: 16px;
  color: white;
  text-align: center;
  margin-top: 5px;
  letter-spacing: 0.5px; }
  .hint.hint--green {
    color: #88DC70; }
  .hint.hint--red {
    color: #F45D4C; }

.separator {
  width: 90px;
  margin: 25px auto 0;
  background: #004963;
  height: 2px;
  border-radius: 1px; }

.wave-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 340px; }

.bar {
  position: absolute;
  right: 65px;
  bottom: 88px;
  height: 255px;
  width: 45px;
  border-radius: 100px; }
  .bar.bar--back {
    background-image: linear-gradient(-180deg, #004F6A 0%, #003142 100%);
    z-index: 1; }
  .bar.bar--front {
    background: rgba(0, 32, 44, 0.1);
    z-index: 4; }
  .bar.bar--front:after, .bar.bar--front:before {
    opacity: 0;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    background-image: url(arrows_up.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px 216px;
    transition: all 0.5s ease; }
  .bar.bar--front:before {
    background-image: url(arrows_down.png); }
  .bar.bar--up:after {
    opacity: 1; }
  .bar.bar--up:before {
    opacity: 0; }
  .bar.bar--down:before {
    opacity: 1; }
  .bar.bar--down:after {
    opacity: 0; }

.wave-flat {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 113px;
  background: #00B9FF;
  z-index: 2; }

.thumb {
  height: 45px;
  width: 45px;
  background-image: linear-gradient(-180deg, #FCFCFD 0%, #F8F8FA 100%);
  box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3; }
  .thumb:after, .thumb:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 43px;
    height: 43px;
    border: 1px solid white;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.5s ease; }
  .thumb.thumb--hold:after, .thumb.thumb--hold:before {
    opacity: 1;
    transition: opacity 0.2s ease; }
  .thumb:after {
    animation: ripple 2s 0s linear infinite; }
  .thumb:before {
    animation: ripple 2s 1s linear infinite; }

.wave {
  position: absolute;
  bottom: -17px;
  left: 0;
  right: 0;
  height: 100%;
  background-image: url(wave.svg);
  background-position: -870px 0;
  background-size: 990px 340px;
  z-index: 3;
  opacity: 1; }

.wave--moving {
  animation: slide 16s linear infinite; }

@keyframes slide {
  from {
    background-position: -870px 0; }
  to {
    background-position: 120px 0; } }
@keyframes ripple {
  from {
    transform: scale(1);
    border-color: white; }
  to {
    transform: scale(2);
    border-color: transparent; } }

/*# sourceMappingURL=style.css.map */
